html {
    height: 100vh;
    scroll-behavior:smooth;
}
body {
    background-color: rgb(4, 1, 36);
    height: 100vh;
}

/*სურათი (logo)*/
/*სურათი (logo)*/
/*სურათი (logo)*/
/*სურათი (logo)*/

#logo {
  
    margin-top: 20px;
     width: 250px;
    margin-left: -1100px;
    z-index: 1;
}
/*მენიუ*/
/*მენიუ*/
/*მენიუ*/
/*მენიუ*/
/*მენიუ*/
/*მენიუ*/
#buttons{
    list-style: none;
    font-family: 'Roboto Thin';
    color: aliceblue;
    margin: 50px;
    text-align: right;
position: relative;
justify-content:flex-end;
display: flex;
margin-top: -30px;
}

.but{
    height:120px;
    background-image: linear-gradient(  rgba(0, 0, 0, 0.479), rgba(41, 41, 41, 0));
    margin-left: 0px;
    position: relative;
    top:-120px;
    width: 102%;
    text-align: right;
    left:-20px;
    transition: 0.5s;
    z-index: 2;    
    width: 100%;

}

    

ul li {
    list-style: none;
} 

ul {
    display: flex;
    
}
.button {
   
    border-radius: 10px;
    height: 50px;
    color: white;
    background-color:rgba(255, 0, 0, 0);
    border: none;
    transition:0.2s;
transform: translateX(2px);
}

button:hover {
    color: rgb(0, 98, 255);
}



i{
    font-size: 30px;
}

#mtavari_gverdi{
    transform: translateY(-17px);
}


#photo{
    position: relative;
  z-index: 1;
}




#bb {
    border: none;
    background-color: rgba(0, 0, 0, 0);
    color: rgb(255, 255, 255);
    transition: 0.2s;
    position: relative;
    top: -90px;
    left: 13px;
    z-index: 10;
    background-color:rgb(41, 41, 41) ;
    pointer-events: none;
    
   
  
}
#bb:hover {
    color: rgb(0, 98, 255);
}


 .gilaki{
    visibility: hidden;
    z-index:11;
    
}


/*მენიუს ღილაკის მუშაობის კოდი*/
/*მენიუს ღილაკის მუშაობის კოდი*/
/*მენიუს ღილაკის მუშაობის კოდი*/

input[type="checkbox"]:checked ~ .but{
    
    transform: translateX(15px);
    display:block
    
}




/*მობილურის მენიუს ღილაკი*/
/*მობილურის მენიუს ღილაკი*/
/*მობილურის მენიუს ღილაკი*/
/*მობილურის მენიუს ღილაკი*/

input[type="checkbox"] {
    position: relative;
    top: -55px;
    z-index: 10;
    left: 15px;
    width: 30px;
    height: 30px;
    border: none;
   visibility: hidden;
}




/*რესფონსივ საიტის კოდი*/
/*რესფონსივ საიტის კოდი*/
/*რესფონსივ საიტის კოდი*/
/*რესფონსივ საიტის კოდი*/

@media  (max-width: 862px) {
  
   input[type="checkbox"]{
       visibility: visible;
      
   }
   .but{
       height:280px;
       width: 70px;
       left: -5px;
       top: -110px;
   }
}

/**//**/
/**//**/
/**//**/
/**//**/
@media  (max-width: 862px) {
   
   #photo {
       width:200px;
   }
   ul {
       display: block;
       transform: translateX(20px);
       margin-top: 60px;
   }
   #buttons{
       text-align:center;

       
   }
   input[type="checkbox"]{
       visibility: visible;
       transform:translateX(10px);
   }
   .but{
       height:280px;
   }
}
/**//**/
/**//**/
/**//**/
/**//**/



@media  (max-width: 862px) {
    #logo {
        align-items: center;
        margin-left: 10px;
        width: 250px;
        transform: translateY(-10px);
    
}
    #photo {
        width: 280px;
    }
    .but {
       transform: translateX(-400px);
        background-color: rgb(22, 22, 22);
        display: block;
        align-items: center;
        justify-content: center;
    }
    .hello {
        top:-300px;
    }
    .gilaki{
        visibility: visible;
       left: 10px;
   margin-left: 10px;
       
    } 
 
}
/*ჩემი მაინკრაფტ ფოტოები*/
/*ჩემი მაინკრაფტ ფოტოები*/
/*ჩემი მაინკრაფტ ფოტოები*/
/*ჩემი მაინკრაფტ ფოტოები*/

/*.photos{
    z-index: -100;
    transform: translateX(-5px);
    position: relative;
    top: -160px;



}
*/





.hello
{
    border: 3px solid black;
    border-radius: 20px;
    background-color: rgb(187, 187, 187);
    width: 250px;
    font-family: "ALK Sanet", sans-serif;
    transition: 0.3s;
    position: relative;
    z-index: 1;
    

}
h1 h2 {
    font-family: "ALK Sanet", sans-serif;

}

.hello:hover{
    color: rgb(0, 98, 255);
    transform: scale(1.3);
}
#particles-js{
    top: -450px;
    position: relative;
    height: 120%;
    z-index: 0;
    width: 100%;
   
}
body{
    margin: 0;
    padding: 0;
    transform: translateY();
    
}
.reed {
    background-color: red;
    z-index: 10;
}

#websit{
    display: none;
    position: relative;
}

#preload{
    
    height: 110vh;
    width: 100%;
    background-color: rgb(5, 3, 39);
    position: relative;
    z-index: 100000;
    align-items: center;
    justify-content: center;
    
}

#loading_object{
border: 6px solid white;
height: 50px;
width: 50px;
animation-name:anim;
animation-duration: 4s;
animation-iteration-count:infinite ;
position: relative;
z-index: 1;
transform: translateY(10px);
}

#loading_object1{
    border: 6px solid white;
    height: 80px;
    width: 80px;
    animation-name:anim2;
    animation-duration: 4s;
    animation-iteration-count:infinite ;
    position: relative;
    z-index: 1;
    transform: translateY(39.8vh);
    }

#text{
    color: white;
    position: relative;
    position: relative;
    z-index: -10;
    transform: translateY(37vh);
}

@keyframes anim{
    0% {
        border-radius: 50%;
        border: 6px solid rgb(0, 0, 124);
    }
    25% {
        border-radius: 50%;
        border: 6px solid white;
    }

    50% {
        border-radius: 50%;
        border: 6px solid rgb(0, 0, 124);
    }
    75% {
        border-radius: 50%;
        border: 6px solid white;
    }
    100% {
        border-radius: 50%;
        border: 6px solid rgb(0, 0, 124);
    }
   
}

@keyframes anim2{
    0% {
        border-radius: 50%;
        border: 6px solid white;
    }
    25% {
        border-radius: 50%;
        border: 6px solid rgb(0, 0, 124);
    }

    50% {
        border-radius: 50%;
        border: 6px solid white;
    }
    75% {
        border-radius: 50%;
        border: 6px solid rgb(0, 0, 124);
    }
    100% {
        border-radius: 50%;
        border: 6px solid white;
    }

   
}
